streamlit
pandas
numpy
opencv-python-headless
deepface
tf-keras
scikit-learn
torch; sys_platform == "win32"
tensorflow; sys_platform == "win32"
pytesseract
Pillow
extra-streamlit-components 
pymongo
python-dotenv
dnspython
